<template>
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <router-link :to="'/subjects/create'" class="pull-right btn btn-success" v-if="$can('create', 'Subjects')">Створити</router-link>
            <h3 class="c-grey-900">Вчителі</h3>
            <div class="mT-30">
                <v-server-table url="/api/subjects" ref="subjectsTable" :columns="columns" :options="options">
                    <div slot="controls" slot-scope="props">
                        <div class="gap-10 peers">
                            <div class="peer" v-if="$can('update', 'Subjects')">
                                <router-link :to="`/subjects/${props.row.id}`" class="btn cur-p btn-primary fa fa-edit"></router-link>
                            </div>
                            <div class="peer" v-if="$can('delete', 'Subjects')">
                                <button type="button" class="btn cur-p btn-danger fa fa-trash-o" @click="toggleModal(props.row)"></button>
                            </div>
                        </div>
                    </div>
                </v-server-table>
            </div>
        </div>
        <transition name="fade">
            <modal v-if="modal.showModal" :key="'modal'"
                   :content="modal.content"
                   @agree="deleteSubject(modal.subjectId)"
                   @decline="toggleModal"></modal>
        </transition>
    </div>
</template>

<script>
    import axios from 'axios';
    import Modal from '../../static/Modal';

    export default {
        name: "Subjects",
        data:() => ({
            columns: ['id', 'name', 'credits', 'hours', 'controls'],
            options: {
                headings: {
                    id: '#Номер',
                    name: 'Назва',
                    credits: 'Кредити',
                    hours: 'Години',
                    controls: 'Управління'
                },
                filterable: false,
                perPageValues: [],
                perPage: 25,
                requestFunction: function (data) {
                    return axios.get(this.url);
                },
                responseAdapter: (resp) => {
                    return {
                        data: resp.data.data.data,
                        count: resp.data.data.total
                    }
                }
            },
            modal: {
                showModal: false,
                subjectId: null,
                content: {
                    title: 'Видалення предмета',
                    buttons: ['Так', 'Відміна'],
                    content: ''
                },
            },
        }),
        methods: {
            toggleModal: function (row) {
                this.modal.content.content = row ? `Ви впевнені, що хочете видалити ${row.name}?` : '';
                this.modal.subjectId = row ? row.id : null;
                this.modal.showModal = !this.modal.showModal;
            },
            deleteSubject(id) {
                axios.delete(`/api/subjects/${id}`)
                    .then(() => {
                        this.toggleModal();
                        this.$refs.subjectsTable.refresh();
                    })
                    .catch()
            }
        },
        components: {
            Modal
        }
    }
</script>

<style scoped>

</style>