<template>
    <div class="masonry-item col-md-8 offset-2">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900" v-if="!isCreating">Редагувати предмет {{ `${name}` }}</h4>
            <h4 class="c-grey-900" v-else>Створити предмет</h4>
            <transition name="fade">
                <div class="alert alert-danger" role="alert" v-if="errors.length">
                    <span v-for="(error, index) in errors" :key="index">{{ error }}<br></span>
                </div>
            </transition>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label>Назва</label>
                        <input type="text" class="form-control" placeholder="Введіть назву:" v-model="name">
                    </div>
                    <div class="form-group">
                        <label>Кількість кредитів</label>
                        <input type="text" class="form-control" placeholder="Введіть кількість кредитів:" v-model="credits">
                    </div>
                    <div class="form-group">
                        <label>Кількість годин</label>
                        <input type="text" class="form-control" placeholder="Введіть кількість годин:" v-model="hours">
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "SubjectEdit",
        data:() => ({
            name: '',
            credits: '',
            hours: '',
            errors: []
        }),
        computed: {
            isCreating() {
                return !this.$route.params.id;
            }
        },
        methods: {
            submitForm() {
                this.isCreating ? this.createSubject() : this.updateSubject();
            },
            updateSubject() {
                axios.put(`/api/subjects/${this.$route.params.id}`, {
                    name: this.name,
                    hours: this.hours,
                    credits: this.credits
                })
                    .then(response => {
                        this.$router.push('/subjects');
                    })
                    .catch()
            },
            createSubject() {
                axios.post('/api/subjects', {
                    name: this.name,
                    hours: this.hours,
                    credits: this.credits
                })
                    .then(response => {
                        this.$router.push('/subjects');
                    })
                    .catch()
            },
            getSubject() {
                axios.get(`/api/subjects/${this.$route.params.id}`)
                    .then(response => {
                        this.name = response.data.data.name;
                        this.credits = response.data.data.credits;
                        this.hours = response.data.data.hours;
                    })
                    .catch()
            }
        },
        mounted() {
            if (!this.isCreating) {
                this.getSubject();
            }
        }
    }
</script>

<style scoped>

</style>