<template>
    <div class="full-container">
        <div class="peers fxw-nw pos-r">
            <div class="peer bdR" id="chat-sidebar">
                <div class="layers h-100">
                    <div class="bdB layer w-100 p-15">
                        <v-select id="student"
                                  :options="users"
                                  :placeholder="'Введіть прізвище:'"
                                  :filterable="false"
                                  @search="searchUsers"
                                  v-model="selectedUser">
                            <span slot="no-options">
                                Нема результатів
                            </span>
                            <template slot="option" slot-scope="option">
                                {{ option.name }} {{ option.surname }}
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                {{ option.name }} {{ option.surname }}
                            </template>
                        </v-select>
                    </div>
                    <div class="layer w-100 fxg-1 scrollable pos-r ps">
                        <router-link v-for="dialog in dialogs" :key="dialog.id" :to="`/chats/${dialog.id}`" tag="div">
                            <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p" v-if="dialog.first_user.id !== user.id">
                                <div class="peer"><img :src="dialog.first_user.avatar || '/images/admin/user.png'" alt="" class="w-3r h-3r bdrs-50p"></div>
                                <div class="peer peer-greed pL-20">
                                    <h6 class="mB-0 lh-1 fw-400">{{ `${dialog.first_user.name} ${dialog.first_user.surname}` }}</h6>
                                    <small class="lh-1 c-green-500">{{ dialog.first_user.email }}</small>
                                </div>
                            </div>
                            <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p" v-else>
                                <div class="peer"><img :src="dialog.second_user.avatar || '/images/admin/user.png'" alt="" class="w-3r h-3r bdrs-50p"></div>
                                <div class="peer peer-greed pL-20">
                                    <h6 class="mB-0 lh-1 fw-400">{{ `${dialog.second_user.name} ${dialog.second_user.surname}` }}</h6>
                                    <small class="lh-1 c-green-500">{{ dialog.second_user.email }}</small>
                                </div>
                            </div>
                        </router-link>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <transition name="fade" mode="out-in">
                <router-view :key="$route.fullPath"></router-view>
            </transition>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import store from '../../../../storage/storage';
    import vSelect from 'vue-select';

    export default {
        store,
        name: "Chat",
        data:() => ({
            dialogs: [],
            users: [],
            selectedUser: null
        }),
        computed: {
            user() {
                return this.$store.state.auth.user;
            }
        },
        watch: {
            selectedUser() {
                if (this.selectedUser) {
                    this.makeDialog(this.selectedUser)
                }
            }
        },
        methods: {
            getDialogs() {
                axios.get('/api/dialogs')
                    .then(response => {
                        this.dialogs = response.data.dialogs;
                    })
                    .catch()
            },
            searchUsers(search) {
                axios.get('/api/users/search', {
                    params: {
                        q: search
                    }
                })
                    .then(response => {
                        this.users = response.data.data;
                    })
                    .catch()
            },
            makeDialog(value) {
                axios.post('/api/dialog', {
                    user_id: value.id
                })
                    .then(response => {
                        this.getDialogs();
                        this.$router.push(`/chats/${response.data.dialog.id}`);
                        this.selectedUser = null;
                    })
                    .catch()
            }
        },
        components: {
            'v-select': vSelect
        },
        mounted() {
            this.getDialogs();
        }
    }
</script>

<style scoped>

</style>