<template>
    <div class="peer peer-greed" id="chat-box">
        <div class="layers h-100">
            <div class="layer w-100">
                <div class="peers fxw-nw jc-sb ai-c pY-20 pX-30 bgc-white">
                    <div class="peers ai-c">
                        <div class="peer d-n@md+"><a href="" title="" id="chat-sidebar-toggle" class="td-n c-grey-900 cH-blue-500 mR-30"><i class="ti-menu"></i></a></div>
                        <div class="peer mR-20"><img :src="recipient.avatar || '/images/admin/user.png'" alt="" class="w-3r h-3r bdrs-50p"></div>
                        <div class="peer">
                            <h6 class="lh-1 mB-0">{{ `${recipient.name} ${recipient.surname}` }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div id="messages-wrapper" class="layer w-100 fxg-1 bgc-grey-200 scrollable pos-r ps" style="overflow-y: scroll;">
                <div class="p-20 gapY-15">
                    <div v-for="message in messages" :key="message.id">
                        <div class="peers fxw-nw" v-if="message.user_id !== user.id">
                            <div class="peer mR-20 small-avatar"><img class="w-2r bdrs-50p" :src="message.user.avatar || '/images/admin/user.png'" alt=""></div>
                            <div class="peer peer-greed">
                                <div class="layers ai-fs gapY-5">
                                    <div class="layer">
                                        <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                            <div class="peer mR-10"><small>{{ message.created_at }}</small></div>
                                            <div class="peer-greed"><span>{{ message.message }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="peers fxw-nw ai-fe" v-else>
                            <div class="peer ord-1 mL-20 small-avatar"><img class="w-2r bdrs-50p" :src="message.user.avatar || '/images/admin/user.png'" alt=""></div>
                            <div class="peer peer-greed">
                                <div class="layers ai-fe gapY-5">
                                    <div class="layer">
                                        <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                            <div class="peer mR-10"><small>{{ message.created_at }}</small></div>
                                            <div class="peer-greed"><span>{{ message.message }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                </div>
            </div>
            <div class="layer w-100">
                <div class="p-20 bdT bgc-white">
                    <div class="pos-r">
                        <input type="text" class="form-control bdrs-10em m-0" placeholder="Напишіть щось..." v-model="message" @keyup.enter="sendMessage()" @keyup.esc="$router.push('/chats')">
                        <button type="button" class="btn btn-primary bdrs-50p w-2r p-0 h-2r pos-a r-1 t-1" @click="sendMessage()"><i class="fa fa-paper-plane-o"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import store from '../../../../storage/storage';

    export default {
        store,
        name: "ChatMessages",
        data:() => ({
            message: '',
            messages: [],
            recipient: {}
        }),
        computed: {
            user() {
                return this.$store.state.auth.user;
            }
        },
        watch: {
            // messages() {
            //     this.scrollDown();
            // }
        },
        methods: {
            scrollDown: function () {
                let element = this.$el.querySelector("#messages-wrapper");
                element.scrollTop = element.scrollHeight + 200;
            },
            getMessages() {
                axios.get(`/api/dialogs/${this.$route.params.id}`)
                    .then(response => {
                        let res = response.data.messages;
                        this.recipient = this.user.id !== res.first_user.id ? res.first_user : res.second_user;
                        this.messages = res.messages;
                    })
                    .catch()
            },
            sendMessage() {
                if (this.message) {
                    axios.post(`/api/dialogs/${this.$route.params.id}`, {
                        message: this.message
                    })
                        .then(response => {
                            this.message = '';
                        })
                        .catch()

                }
            },
            listenToChannel: function () {
                Echo.private(`dialog.${this.$route.params.id}`)
                    .listen('MessageSent', (e) => {
                        this.messages.push(e.message);
                    });
            }
        },
        mounted() {
            this.getMessages();
            this.listenToChannel();
        },
        updated: function () {

            this.scrollDown();

        }
    }
</script>

<style scoped>
    .small-avatar {
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
    }
    .small-avatar img {
        width: 100%;
    }
</style>