<template>
    <div>
        <div class="masonry-item col-md-12">
            <div class="bgc-white p-20 bd">
                <button class="pull-right btn btn-success mL-10" @click="addLectureToPlan" :disabled="!lecture">Додати</button>
                <div class="pull-right">
                    <div class="form-group">
                        <v-select id="lecture"
                                  :options="lectures"
                                  :placeholder="'Введіть заголовок:'"
                                  :filterable="false"
                                  @search="searchLectures"
                                  v-model="lecture">
                            <span slot="no-options">
                                Нема результатів
                            </span>
                            <template slot="option" slot-scope="option">
                                {{ option.title }}
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                {{ option.title }}
                            </template>
                        </v-select>
                    </div>
                </div>
                <h3 class="c-grey-900">Лекції плану {{ $route.params.id }}</h3>
                <div class="mT-30">
                    <v-server-table :url="`/api/plans/${$route.params.id}/lectures`" ref="lecturesTable" :columns="columns" :options="options">
                        <div slot="controls" slot-scope="props">
                            <div class="gap-10 peers">
                                <div class="peer" v-if="$can('update', 'PlansProgram')">
                                    <button type="button" class="btn cur-p btn-danger fa fa-trash-o" @click="toggleModal(props.row)"></button>
                                </div>
                            </div>
                        </div>
                    </v-server-table>
                </div>
            </div>
            <transition name="fade">
                <modal v-if="modal.showModal" :key="'modal'"
                       :content="modal.content"
                       @agree="deleteLectureFromPlan(modal.lectureId)"
                       @decline="toggleModal"></modal>
            </transition>
        </div>
        <div class="masonry-item col-md-12 mT-20">
            <div class="bgc-white p-20 bd">
                <button class="pull-right btn btn-success mL-10" @click="addTestToPlan" :disabled="!test">Додати</button>
                <div class="pull-right">
                    <div class="form-group">
                        <v-select id="test"
                                  :options="tests"
                                  :placeholder="'Введіть заголовок:'"
                                  :filterable="false"
                                  @search="searchTests"
                                  v-model="test">
                            <span slot="no-options">
                                Нема результатів
                            </span>
                            <template slot="option" slot-scope="option">
                                {{ option.title }}
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                {{ option.title }}
                            </template>
                        </v-select>
                    </div>
                </div>
                <h3 class="c-grey-900">Тести плану {{ $route.params.id }}</h3>
                <div class="mT-30">
                    <v-server-table :url="`/api/plans/${$route.params.id}/tests`" ref="testsTable" :columns="columnsTest" :options="optionsTest">
                        <div slot="controls" slot-scope="props">
                            <div class="gap-10 peers">
                                <div class="peer" v-if="$can('update', 'PlansProgram')">
                                    <button type="button" class="btn cur-p btn-danger fa fa-trash-o" @click="toggleModalTest(props.row)"></button>
                                </div>
                            </div>
                        </div>
                    </v-server-table>
                </div>
            </div>
            <transition name="fade">
                <modal v-if="modalTest.showModal" :key="'modalTest'"
                       :content="modalTest.content"
                       @agree="deleteTestFromPlan(modalTest.testId)"
                       @decline="toggleModalTest"></modal>
            </transition>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import Modal from '../../static/Modal';
    import vSelect from 'vue-select';

    export default {
        name: "PlansProgram",
        data:() => ({
            columns: ['id', 'title', 'text', 'controls'],
            options: {
                headings: {
                    id: '#Номер',
                    title: 'Заголовок',
                    text: 'Текст',
                    controls: 'Управління'
                },
                filterable: false,
                perPageValues: [],
                perPage: 25,
                requestFunction: function (data) {
                    return axios.get(this.url);
                },
                responseAdapter: (resp) => {
                    return {
                        data: resp.data.data.data,
                        count: resp.data.data.total
                    }
                }
            },
            modal: {
                showModal: false,
                lectureId: null,
                content: {
                    title: 'Видалення лекції з плану',
                    buttons: ['Так', 'Відміна'],
                    content: ''
                },
            },
            lectures: [],
            lecture: null,
            columnsTest: ['id', 'title', 'controls'],
            optionsTest: {
                headings: {
                    id: '#Номер',
                    title: 'Заголовок',
                    controls: 'Управління'
                },
                filterable: false,
                perPageValues: [],
                perPage: 25,
                requestFunction: function (data) {
                    return axios.get(this.url);
                },
                responseAdapter: (resp) => {
                    return {
                        data: resp.data.data.data,
                        count: resp.data.data.total
                    }
                }
            },
            modalTest: {
                showModal: false,
                testId: null,
                content: {
                    title: 'Видалення тесту з плану',
                    buttons: ['Так', 'Відміна'],
                    content: ''
                },
            },
            tests: [],
            test: null
        }),
        methods: {
            toggleModal: function (row) {
                this.modal.content.content = row ? `Ви впевнені, що хочете видалити лекцію ${row.title} з плану ${this.$route.params.id}?` : '';
                this.modal.lectureId = row ? row.id : null;
                this.modal.showModal = !this.modal.showModal;
            },
            toggleModalTest: function (row) {
                this.modalTest.content.content = row ? `Ви впевнені, що хочете видалити тест ${row.title} з плану ${this.$route.params.id}?` : '';
                this.modalTest.testId = row ? row.id : null;
                this.modalTest.showModal = !this.modalTest.showModal;
            },
            addLectureToPlan() {
                if (!!this.lecture) {
                    axios.post(`/api/plans/${this.$route.params.id}/lectures`, {
                        lectureId: this.lecture.id
                    })
                        .then(response => {
                            this.lecture = null;
                            this.$refs.lecturesTable.refresh();
                        })
                }
            },
            addTestToPlan() {
                if (!!this.test) {
                    axios.post(`/api/plans/${this.$route.params.id}/tests`, {
                        testId: this.test.id
                    })
                        .then(response => {
                            this.test = null;
                            this.$refs.testsTable.refresh();
                        })
                }
            },
            deleteLectureFromPlan(id) {
                axios.put(`/api/plans/${this.$route.params.id}/lectures`, {
                    lectureId: id
                })
                    .then(response => {
                        this.toggleModalTest();
                        this.$refs.lecturesTable.refresh();
                    })
            },
            deleteTestFromPlan(id) {
                axios.put(`/api/plans/${this.$route.params.id}/tests`, {
                    testId: id
                })
                    .then(response => {
                        this.toggleModalTest();
                        this.$refs.testsTable.refresh();
                    })
            },
            searchLectures(search) {
                axios.get('/api/lectures/search', {
                    params: {
                        q: search
                    }
                })
                    .then(response => {
                        this.lectures = response.data.data
                    })
            },
            searchTests(search) {
                axios.get('/api/tests/search', {
                    params: {
                        q: search
                    }
                })
                    .then(response => {
                        this.tests = response.data.data
                    })
            }
        },
        components: {
            Modal,
            'v-select': vSelect
        }
    }
</script>

<style scoped>

</style>