<template>
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <router-link :to="'/plans/create'" class="pull-right btn btn-success" v-if="$can('create', 'Plans')">Створити</router-link>
            <h3 class="c-grey-900">Плани</h3>
            <div class="mT-30">
                <v-server-table url="/api/plans" ref="plansTable" :columns="columns" :options="options">
                    <div slot="group" slot-scope="props">
                        {{ props.row.group.number }}
                    </div>
                    <div slot="teacher" slot-scope="props">
                        {{ props.row.teacher.name }} {{ props.row.teacher.surname }}
                    </div>
                    <div slot="subject" slot-scope="props">
                        {{ props.row.subject.name }}
                    </div>
                    <div slot="controls" slot-scope="props">
                        <div class="gap-10 peers">
                            <div class="peer" v-if="$can('update', 'PlansProgram')">
                                <router-link :to="`/plans/program/${props.row.id}`" class="btn cur-p btn-primary fa fa-edit"></router-link>
                            </div>
                            <div class="peer" v-if="$can('update', 'Plans')">
                                <router-link :to="`/plans/${props.row.id}`" class="btn cur-p btn-primary fa fa-edit"></router-link>
                            </div>
                            <div class="peer" v-if="$can('delete', 'Plans')">
                                <button type="button" class="btn cur-p btn-danger fa fa-trash-o" @click="toggleModal(props.row)"></button>
                            </div>
                        </div>
                    </div>
                </v-server-table>
            </div>
        </div>
        <transition name="fade">
            <modal v-if="modal.showModal" :key="'modal'"
                   :content="modal.content"
                   @agree="deletePlan(modal.planId)"
                   @decline="toggleModal"></modal>
        </transition>
    </div>
</template>

<script>
    import axios from 'axios';
    import Modal from '../../static/Modal';

    export default {
        name: "Plans",
        data:() => ({
            columns: ['id', 'teacher', 'group', 'subject', 'controls'],
            options: {
                headings: {
                    id: '#Номер',
                    teacher: 'Викладач',
                    group: 'Група',
                    subject: 'Предмет',
                    controls: 'Управління'
                },
                filterable: false,
                perPageValues: [],
                perPage: 25,
                requestFunction: function (data) {
                    return axios.get(this.url);
                },
                responseAdapter: (resp) => {
                    return {
                        data: resp.data.data.data,
                        count: resp.data.data.total
                    }
                }
            },
            modal: {
                showModal: false,
                plantId: null,
                content: {
                    title: 'Видалення плану',
                    buttons: ['Так', 'Відміна'],
                    content: ''
                },
            },
        }),
        methods: {
            toggleModal: function (row) {
                this.modal.content.content = row ? `Ви впевнені, що хочете видалити план №${row.id}?` : '';
                this.modal.planId = row ? row.id : null;
                this.modal.showModal = !this.modal.showModal;
            },
            deletePlan(id) {
                axios.delete(`/api/plans/${id}`)
                    .then(() => {
                        this.toggleModal();
                        this.$refs.plansTable.refresh();
                    })
                    .catch()
            }
        },
        components: {
            Modal
        }
    }
</script>

<style scoped>

</style>