<template>
    <div class="masonry-item col-md-8 offset-2">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900" v-if="!isCreating">Редагувати план {{ `${$route.params.id}` }}</h4>
            <h4 class="c-grey-900" v-else>Створити план</h4>
            <transition name="fade">
                <div class="alert alert-danger" role="alert" v-if="errors.length">
                    <span v-for="(error, index) in errors" :key="index">{{ error }}<br></span>
                </div>
            </transition>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label>Предмет</label>
                        <v-select id="subject"
                                  :options="subjects"
                                  :placeholder="'Введіть назву:'"
                                  :filterable="false"
                                  @search="searchSubjects"
                                  v-model="subject">
                            <span slot="no-options">
                                Нема результатів
                            </span>
                            <template slot="option" slot-scope="option">
                                {{ option.name }}
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                {{ option.name }}
                            </template>
                        </v-select>
                    </div>
                    <div class="form-group">
                        <label>Група</label>
                        <v-select id="group"
                                  :options="groups"
                                  :placeholder="'Введіть номер:'"
                                  :filterable="false"
                                  @search="searchGroups"
                                  v-model="group">
                            <span slot="no-options">
                                Нема результатів
                            </span>
                            <template slot="option" slot-scope="option">
                                {{ option.number }}
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                {{ option.number }}
                            </template>
                        </v-select>
                    </div>
                    <div class="form-group">
                        <label>Вчитель</label>
                        <v-select id="teacher"
                                  :options="teachers"
                                  :placeholder="'Введіть ім\'я:'"
                                  :filterable="false"
                                  @search="searchTeachers"
                                  v-model="teacher">
                            <span slot="no-options">
                                Нема результатів
                            </span>
                            <template slot="option" slot-scope="option">
                                {{ option.name }} {{ option.surname }}
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                {{ option.name }} {{ option.surname }}
                            </template>
                        </v-select>
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import vSelect from 'vue-select';

    export default {
        name: "PlansEdit",
        data:() => ({
            errors: [],
            subjects: [],
            subject: null,
            groups: [],
            group: null,
            teachers: [],
            teacher: null
        }),
        computed: {
            isCreating() {
                return !this.$route.params.id;
            }
        },
        methods: {
            submitForm() {
                this.isCreating ? this.createPlan() : this.updatePlan();
            },
            updatePlan() {
                axios.put(`/api/plans/${this.$route.params.id}`, {
                    user: this.teacher,
                    group: this.group,
                    subject: this.subject
                })
                    .then(response => {
                        this.$router.push('/plans');
                    })
                    .catch()
            },
            createPlan() {
                axios.post('/api/plans', {
                    user: this.teacher,
                    group: this.group,
                    subject: this.subject
                })
                    .then(response => {
                        this.$router.push('/plans');
                    })
                    .catch()
            },
            getPlan() {
                axios.get(`/api/plans/${this.$route.params.id}`)
                    .then(response => {
                        this.teacher = response.data.data.teacher;
                        this.group = response.data.data.group;
                        this.subject = response.data.data.subject;
                    })
                    .catch()
            },
            searchSubjects(search) {
                axios.get('/api/subjects/search', {
                    params: {
                        q: search
                    }
                })
                    .then(response => {
                        this.subjects = response.data.data;
                    })
                    .catch()
            },
            searchGroups(search) {
                axios.get('/api/groups/search', {
                    params: {
                        q: search
                    }
                })
                    .then(response => {
                        this.groups = response.data.data;
                    })
                    .catch()
            },
            searchTeachers(search) {
                axios.get('/api/users/search', {
                    params: {
                        q: search,
                        role: 'Teacher'
                    }
                })
                    .then(response => {
                        this.teachers = response.data.data;
                    })
                    .catch()
            }
        },
        components: {
            'v-select': vSelect
        },
        mounted() {
            if (!this.isCreating) {
                this.getPlan();
            }
        }
    }
</script>

<style scoped>

</style>