<template>
    <div class="modal" style="padding-right: 17px; display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ content.title }}</h5>
                </div>
                <div class="modal-body">{{ content.content }}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-if="content.buttons[0]" @click="agree">{{ content.buttons[0] }}</button>
                    <button type="button" class="btn btn-secondary" v-if="content.buttons[1]" @click="decline">{{ content.buttons[1] }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "modal",
        props: {
            content: {
                type: Object,
                required: true
            },
        },
        methods: {
            agree: function () {
                this.$emit('agree');
            },
            decline: function () {
                this.$emit('decline');
            }
        }
    }
</script>

<style scoped>

</style>