<template>
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
        <span>© 2018 EDU project. All rights reserved</span>
    </footer>
</template>

<script>
    export default {
        name: "footer-component"
    }
</script>

<style scoped>

</style>