<template>
    <div class="header navbar">
        <div class="header-container">
            <ul class="nav-left">
                <li>
                    <a id='sidebar-toggle' class="sidebar-toggle" href="#" @click.prevent="toggleSidebar">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                <li class="dropdown" :class="{ show: showDropdown }">
                    <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" @click.prevent="toggleDropdown">
                        <div class="peer mR-10 avatar">
                            <img class="w-2r bdrs-50p" :src="avatar" alt="user">
                        </div>
                        <div class="peer">
                            <span class="fsz-sm c-grey-900">{{ `${user.name} ${user.surname}` }}</span>
                        </div>
                    </a>
                    <ul class="dropdown-menu fsz-sm" :class="{ show: showDropdown }">
                        <li @click="toggleDropdown">
                            <router-link to="/profile" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                <i class="ti-user mR-10"></i>
                                <span>Мій профіль</span>
                            </router-link>
                        </li>
                        <li @click="toggleDropdown">
                            <a href="#" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" @click.prevent="logout">
                                <i class="ti-power-off mR-10"></i>
                                <span>Вийти</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import store from '../../storage/storage';
    import { router } from "../../routes/router";

    export default {
        store,
        name: "header-component",
        data: function () {
            return{
                showDropdown: false
            }
        },
        computed: {
            user() {
                return this.$store.state.auth.user;
            },
            avatar() {
                return this.user.avatar || '/images/admin/user.png';
            }
        },
        methods: {
            toggleSidebar: function () {
                let body = document.body;
                if (body.classList.contains("is-collapsed")) {
                    body.classList.remove("is-collapsed");
                } else {
                    body.classList.add("is-collapsed");
                }
            },
            toggleDropdown: function () {
                this.showDropdown = !this.showDropdown;
            },
            logout: function () {
                axios.post('/api/user/logout').then(() => {
                    this.$store.dispatch('logout').then(() => {
                        router.push('/auth');
                        this.$ability.update([]);
                    });
                }).catch(e => {
                    console.log(e);
                });
            }
        }
    }
</script>

<style scoped>
    .avatar {
        width: 35px;
        height: 35px;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        margin: auto;
        position: relative;
    }
    .avatar img {
        width: 100%;
    }
</style>