<template>
    <div>
        <!-- #Left Sidebar ==================== -->
        <sidebar></sidebar>
        <!-- #Main ============================ -->
        <div class="page-container">
            <!-- ### $Topbar ### -->
            <header-component></header-component>

            <!-- ### $App Screen Content ### -->
            <main class='main-content bgc-grey-100'>
                <div id='mainContent'>
                    <transition name="fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
            </main>

            <!-- ### $App Screen Footer ### -->
            <footer-component></footer-component>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import store from '../../storage/storage';

    import FooterComponent from './FooterComponent';
    import HeaderComponent from './HeaderComponent';
    import Sidebar from './Sidebar'

    export default {
        store,
        name: "main-layout",
        components: {
            FooterComponent,
            HeaderComponent,
            Sidebar
        }
    }
</script>

<style scoped>

</style>