<template>
    <div class="sidebar">
        <div class="sidebar-inner">
            <!-- ### $Sidebar Header ### -->
            <div class="sidebar-logo">
                <div class="peers ai-c fxw-nw">
                    <div class="peer peer-greed">
                        <router-link class="sidebar-link td-n" to="/">
                            <div class="peers ai-c fxw-nw">
                                <div class="peer">
                                    <div class="logo">
                                        <img src="/images/logo.png" alt="">
                                    </div>
                                </div>
                                <div class="peer peer-greed">
                                    <h5 class="lh-1 mB-0 logo-text">EDU</h5>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="peer">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="" class="td-n">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ### $Sidebar Menu ### -->
            <ul class="sidebar-menu scrollable pos-r">
                <router-link tag="li" to="/" class="nav-item mT-30" active-class="active" :exact="true">
                    <a class="sidebar-link">
                        <span class="icon-holder">
                            <i class="c-blue-500 ti-layout"></i>
                        </span>
                        <span class="title">Головна</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/chats" class="nav-item" active-class="active" :exact="true">
                    <a class="sidebar-link">
                        <span class="icon-holder">
                            <i class="c-red-500 ti-comments"></i>
                        </span>
                        <span class="title">Повідомлення</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/school" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'School')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-orange-500 ti-home"></i>
                        </span>
                        <span class="title">Школа</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/head-teachers" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'HeadTeachers')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-brown-500 ti-id-badge"></i>
                        </span>
                        <span class="title">Завучі</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/teachers" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Teachers')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-indigo-500 ti-clipboard"></i>
                        </span>
                        <span class="title">Вчителі</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/students" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Students')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-red-500 ti-game"></i>
                        </span>
                        <span class="title">Студенти</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/groups" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Subjects')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-teal-500 ti-view-list-alt"></i>
                        </span>
                        <span class="title">Групи</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/subjects" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Subjects')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-orange-500 ti-ruler-pencil"></i>
                        </span>
                        <span class="title">Предмети</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/plans" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Plans')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-black-500 ti-blackboard"></i>
                        </span>
                        <span class="title">Плани</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/lectures" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Lectures')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-orange-500 ti-bookmark-alt"></i>
                        </span>
                        <span class="title">Лекції</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/tests" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Tests')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-black-500 ti-notepad"></i>
                        </span>
                        <span class="title">Тести</span>
                    </a>
                </router-link>
                <router-link tag="li" to="/marks" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Tests')">
                    <a class='sidebar-link'>
                        <span class="icon-holder">
                            <i class="c-green-500 ti-check-box"></i>
                        </span>
                        <span class="title">Оцінки</span>
                    </a>
                </router-link>
                <!--<router-link tag="li" to="/statistic" class="nav-item" active-class="active" :exact="true" v-if="$can('read', 'Statistic')">-->
                    <!--<a class='sidebar-link'>-->
                        <!--<span class="icon-holder">-->
                            <!--<i class="c-green-500 ti-bar-chart"></i>-->
                        <!--</span>-->
                        <!--<span class="title">Статистика</span>-->
                    <!--</a>-->
                <!--</router-link>-->
            </ul>

        </div>
    </div>
</template>

<script>
    export default {
        name: "sidebar"
    }
</script>

<style scoped>
    .logo {
        text-align: center;
        padding-top: 5px;
    }
    .logo img {
        width: 50px;
    }
    li.active {
        background-color: #f5f5f5 !important;
    }
</style>