<template>
    <div class="masonry-item col-md-8 offset-2">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900" v-if="!isCreating">Редагувати лекцію {{ `${title}` }}</h4>
            <h4 class="c-grey-900" v-else>Створити лекцію</h4>
            <transition name="fade">
                <div class="alert alert-danger" role="alert" v-if="errors.length">
                    <span v-for="(error, index) in errors" :key="index">{{ error }}<br></span>
                </div>
            </transition>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label>Заголовок</label>
                        <input type="text" class="form-control" placeholder="Введіть заголовок:" v-model="title">
                    </div>
                    <div class="form-group">
                        <label>Текст</label>
                        <textarea class="form-control" placeholder="Введіть текст:" v-model="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "LecturesEdit",
        data:() => ({
            title: '',
            text: '',
            errors: []
        }),
        computed: {
            isCreating() {
                return !this.$route.params.id;
            }
        },
        methods: {
            submitForm() {
                this.isCreating ? this.createLecture() : this.updateLecture();
            },
            updateLecture() {
                axios.put(`/api/lectures/${this.$route.params.id}`, {
                    title: this.title,
                    text: this.text
                })
                    .then(response => {
                        this.$router.push('/lectures');
                    })
                    .catch()
            },
            createLecture() {
                axios.post('/api/lectures', {
                    title: this.title,
                    text: this.text
                })
                    .then(response => {
                        this.$router.push('/lectures');
                    })
                    .catch()
            },
            getLecture() {
                axios.get(`/api/lectures/${this.$route.params.id}`)
                    .then(response => {
                        this.title = response.data.data.title;
                        this.text = response.data.data.text;
                    })
                    .catch()
            }
        },
        mounted() {
            if (!this.isCreating) {
                this.getLecture();
            }
        }
    }
</script>

<style scoped>

</style>