<template>
    <div class="masonry-item col-md-8 offset-2">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900" v-if="!isCreating">Редагувати тест {{ `${title}` }}</h4>
            <h4 class="c-grey-900" v-else>Створити тест</h4>
            <transition name="fade">
                <div class="alert alert-danger" role="alert" v-if="errors.length">
                    <span v-for="(error, index) in errors" :key="index">{{ error }}<br></span>
                </div>
            </transition>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label>Заголовок</label>
                        <input type="text" class="form-control" placeholder="Введіть заголовок:" v-model="title">
                    </div>
                    <h4>Завдання тесту</h4>
                    <div class="form-group" v-for="question in questions" :key="question.id">
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="question.question">
                        </div>
                        <div class="custom-control custom-radio mr-sm-2" v-for="answer in question.answers" :key="answer.id">
                            <input type="radio" class="custom-control-input" :id="question.id+'-'+answer.id" :name="`question-${question.id}`" :value="answer.id" v-model="question.answer_id">
                            <label class="custom-control-label" :for="question.id+'-'+answer.id">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="answer.answer">
                                </div>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "TestsEdit",
        data:() => ({
            title: '',
            errors: [],
            questions: [
                {
                    id: 1,
                    question: 'Question example',
                    answer_id: 1,
                    answers: [
                        {
                            id: 1,
                            answer: 'First answer',
                        },
                        {
                            id: 2,
                            answer: 'Second answer',
                        },
                        {
                            id: 3,
                            answer: 'Third answer',
                        }
                    ]
                },
                {
                    id: 2,
                    question: 'Question example',
                    answer_id: 4,
                    answers: [
                        {
                            id: 4,
                            answer: 'First answer',
                        },
                        {
                            id: 5,
                            answer: 'Second answer',
                        },
                        {
                            id: 6,
                            answer: 'Third answer',
                        }
                    ]
                },
                {
                    id: 3,
                    question: 'Question example',
                    answer_id: 7,
                    answers: [
                        {
                            id: 7,
                            answer: 'First answer',
                        },
                        {
                            id: 8,
                            answer: 'Second answer',
                        },
                        {
                            id: 9,
                            answer: 'Third answer',
                        }
                    ]
                },
                {
                    id: 4,
                    question: 'Question example',
                    answer_id: 10,
                    answers: [
                        {
                            id: 10,
                            answer: 'First answer',
                        },
                        {
                            id: 11,
                            answer: 'Second answer',
                        },
                        {
                            id: 12,
                            answer: 'Third answer',
                        }
                    ]
                },
                {
                    id: 5,
                    question: 'Question example',
                    answer_id: 13,
                    answers: [
                        {
                            id: 13,
                            answer: 'First answer',
                        },
                        {
                            id: 14,
                            answer: 'Second answer',
                        },
                        {
                            id: 15,
                            answer: 'Third answer',
                        }
                    ]
                }
            ]
        }),
        computed: {
            isCreating() {
                return !this.$route.params.id;
            }
        },
        methods: {
            submitForm() {
                this.isCreating ? this.createTest() : this.updateTest();
            },
            updateTest() {
                axios.put(`/api/tests/${this.$route.params.id}`, {
                    title: this.title,
                    questions: this.questions
                })
                    .then(response => {
                        this.$router.push('/tests');
                    })
                    .catch()
            },
            createTest() {
                axios.post('/api/tests', {
                    title: this.title,
                    questions: this.questions
                })
                    .then(response => {
                        console.log();
                        this.$router.push('/tests');
                    })
                    .catch()
            },
            getTest() {
                axios.get(`/api/tests/${this.$route.params.id}`)
                    .then(response => {
                        this.title = response.data.data.title;
                        this.questions = response.data.data.questions;
                    })
                    .catch()
            }
        },
        mounted() {
            if (!this.isCreating) {
                this.getTest();
            }
        }
    }
</script>

<style scoped>

</style>