<template>
    <div class="masonry-item col-md-8 offset-2">
        <div class="bgc-white p-20 bd" v-if="status" :key="test">
            <h4 class="c-grey-900">Здати тест - {{ title }}</h4>
            <div class="mT-30">
                <form>
                    <h4>Завдання тесту</h4>
                    <div class="form-group" v-for="question in questions" :key="question.id">
                        <label>{{ question.question }}</label>
                        <div class="custom-control custom-radio mr-sm-2" v-for="answer in question.answers" :key="answer.id">
                            <input type="radio" class="custom-control-input" :id="question.id+'-'+answer.id" :name="`question-${question.id}`" :value="answer.id" v-model="question.answer_id">
                            <label class="custom-control-label" :for="question.id+'-'+answer.id">
                                {{ answer.answer }}
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                </form>
            </div>
        </div>
        <div class="bgc-white p-20 bd text-center" v-else :key="done">
            <h4>Ви вже здали цей тест</h4>
            <h6>Ви можете подивитися свої оцінки у розділі Оцінки</h6>
            <router-link to="/marks" tag="button" class="btn btn-primary">Перейти</router-link>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "TestsPass",
        data:() => ({
            title: '',
            questions: '',
            status: true
        }),
        methods: {
            getTest() {
                axios.get(`/api/tests/${this.$route.params.id}`)
                    .then(response => {
                        this.title = response.data.data.title;
                        this.questions = response.data.data.questions;
                        this.status = response.data.status;
                    })
                    .catch()
            },
            submitForm() {
                axios.post(`/api/tests/${this.$route.params.id}/pass`, {
                    questions: this.questions
                })
                    .then(() => {
                        this.$router.push('/tests');
                    })
            }
        },
        mounted() {
            this.getTest();
        }
    }
</script>

<style scoped>

</style>