<template>
    <div>
        <div class="masonry-item col-md-8 offset-2">
            <div class="bgc-white p-20 bd">
                <h4 class="c-grey-900" v-if="!isCreating">Редагувати групу {{ `${number}` }}</h4>
                <h4 class="c-grey-900" v-else>Створити групу</h4>
                <transition name="fade">
                    <div class="alert alert-danger" role="alert" v-if="errors.length">
                        <span v-for="(error, index) in errors" :key="index">{{ error }}<br></span>
                    </div>
                </transition>
                <div class="mT-30">
                    <form>
                        <div class="form-group">
                            <label>Номер</label>
                            <input type="text" class="form-control" placeholder="Введіть номер:" v-model="number">
                        </div>
                        <div class="form-group">
                            <label>Опис</label>
                            <input type="text" class="form-control" placeholder="Введіть опис:" v-model="description">
                        </div>
                        <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="masonry-item col-md-12 mT-20" v-if="!isCreating">
            <div class="bgc-white p-20 bd">
                <button class="pull-right btn btn-success mL-10" @click="addStudentToGroup" :disabled="!student">Додати</button>
                <div class="pull-right">
                    <div class="form-group">
                        <v-select id="student"
                                  :options="students"
                                  :placeholder="'Введіть прізвище:'"
                                  :filterable="false"
                                  @search="searchStudents"
                                  v-model="student">
                            <span slot="no-options">
                                Нема результатів
                            </span>
                            <template slot="option" slot-scope="option">
                                {{ option.name }} {{ option.surname }}
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                {{ option.name }} {{ option.surname }}
                            </template>
                        </v-select>
                    </div>
                </div>
                <h3 class="c-grey-900">Студенти у групі {{ `${number}` }}</h3>
                <div class="mT-30">
                    <v-server-table :url="`/api/groups/${$route.params.id}/students`" ref="studentsTable" :columns="columns" :options="options">
                        <div slot="controls" slot-scope="props">
                            <div class="gap-10 peers">
                                <div class="peer" v-if="$can('update', 'Groups')">
                                    <button type="button" class="btn cur-p btn-danger fa fa-trash-o" @click="toggleModal(props.row)"></button>
                                </div>
                            </div>
                        </div>
                    </v-server-table>
                </div>
            </div>
            <transition name="fade">
                <modal v-if="modal.showModal" :key="'modal'"
                       :content="modal.content"
                       @agree="deleteStudentFromGroup(modal.studentId)"
                       @decline="toggleModal"></modal>
            </transition>
        </div>
    </div>

</template>

<script>
    import axios from 'axios';
    import Modal from '../../static/Modal';
    import vSelect from 'vue-select';

    export default {
        name: "GroupsEdit",
        data:() => ({
            number: '',
            description: '',
            errors: [],
            columns: ['id', 'email', 'name', 'surname', 'created_at', 'controls'],
            options: {
                headings: {
                    id: '#Номер',
                    email: 'Email',
                    name: 'Ім\'я',
                    surname: 'Прізвище',
                    created_at: 'Зареєстровано',
                    controls: 'Управління'
                },
                filterable: false,
                perPageValues: [],
                perPage: 25,
                requestFunction: function (data) {
                    return axios.get(this.url);
                },
                responseAdapter: (resp) => {
                    return {
                        data: resp.data.data.data,
                        count: resp.data.data.total
                    }
                }
            },
            modal: {
                showModal: false,
                studentId: null,
                content: {
                    title: 'Видалення студента з групи',
                    buttons: ['Так', 'Відміна'],
                    content: ''
                },
            },
            students: [],
            student: null
        }),
        computed: {
            isCreating() {
                return !this.$route.params.id;
            }
        },
        methods: {
            submitForm() {
                this.isCreating ? this.createGroup() : this.updateGroup();
            },
            updateGroup() {
                axios.put(`/api/groups/${this.$route.params.id}`, {
                    number: this.number,
                    description: this.description
                })
                    .then(response => {
                        this.$router.push('/groups');
                    })
                    .catch()
            },
            createGroup() {
                axios.post('/api/groups', {
                    number: this.number,
                    description: this.description
                })
                    .then(response => {
                        this.$router.push('/groups');
                    })
                    .catch()
            },
            getGroup() {
                axios.get(`/api/groups/${this.$route.params.id}`)
                    .then(response => {
                        this.number = response.data.data.number;
                        this.description = response.data.data.description;
                    })
                    .catch()
            },
            toggleModal: function (row) {
                this.modal.content.content = row ? `Ви впевнені, що хочете видалити ${row.name} ${row.surname} з групи ${this.number}?` : '';
                this.modal.studentId = row ? row.id : null;
                this.modal.showModal = !this.modal.showModal;
            },
            addStudentToGroup() {
                if (!!this.student) {
                    axios.post(`/api/groups/${this.$route.params.id}/students`, {
                        studentId: this.student.id
                    })
                        .then(response => {
                            this.student = null;
                            this.$refs.studentsTable.refresh();
                        })
                        .catch()
                }
            },
            deleteStudentFromGroup(id) {
                axios.put(`/api/groups/${this.$route.params.id}/students`, {
                    studentId: id
                })
                    .then(() => {
                        this.toggleModal();
                        this.$refs.studentsTable.refresh();
                    })
                    .catch()
            },
            searchStudents: function (search) {
                axios.get('/api/users/search', {
                    params: {
                        q: search,
                        role: 'Student'
                    }
                })
                    .then(response => {
                        this.students = response.data.data;
                    })
                    .catch()
            }
        },
        components: {
            Modal,
            'v-select': vSelect
        },
        mounted() {
            if (!this.isCreating) {
                this.getGroup();
            }
        }
    }
</script>

<style scoped>

</style>