<template>
    <div class="peers ai-s fxw-nw h-100vh">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("/images/bg.jpg")'>
            <div class="pos-a centerXY">
                <div class="bgc-white bdrs-50p pos-r" style='width: 120px; height: 120px;'>
                    <img class="pos-a centerXY" src="/images/logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>
            <h4 class="fw-300 c-grey-900 mB-40">Вход</h4>
            <transition name="fade">
                <div class="alert alert-danger" role="alert" v-if="error">{{ error }}</div>
            </transition>
            <form>
                <div class="form-group">
                    <label class="text-normal text-dark">Email</label>
                    <input type="text" class="form-control" placeholder="Ваш email" v-model="email">
                </div>
                <div class="form-group">
                    <label class="text-normal text-dark">Password</label>
                    <input type="password" class="form-control" placeholder="Ваш пароль" v-model="password">
                </div>
                <div class="form-group">
                    <div class="peers ai-c jc-sb fxw-nw">
                        <div class="peer">
                            <button class="btn btn-primary" @click.prevent="signIn">Увійти</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import store from '../../storage/storage'
    import axios from 'axios';
    import defineAbilitiesFor from '../../abilities/permissions';

    export default {
        store,
        name: "LogIn",
        data() {
            return {
                email: '',
                password: '',
                error: ''
            }
        },
        methods: {
            signIn () {
                axios.post('/api/user/signin', {
                    email: this.email,
                    password: this.password
                }).then(response => {
                    this.$store.dispatch('login', response.data).then(() => {
                        this.$ability.update(defineAbilitiesFor(this.$store.state.auth.user.role).rules);
                        axios.defaults.headers.common['Authorization'] = 'Bearer ' + response.data.token;
                        this.$router.push('/');
                    });
                }).catch(e => {
                    console.log(e);
                });
            }
        }
    }
</script>

<style scoped>

</style>