<template>
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <router-link :to="'/students/create'" class="pull-right btn btn-success" v-if="$can('create', 'Students')">Створити</router-link>
            <h3 class="c-grey-900">Студенти</h3>
            <div class="mT-30">
                <v-server-table url="/api/users" ref="studentsTable" :columns="columns" :options="options">
                    <div slot="controls" slot-scope="props">
                        <div class="gap-10 peers">
                            <div class="peer" v-if="$can('update', 'Students')">
                                <router-link :to="`/students/${props.row.id}`" class="btn cur-p btn-primary fa fa-edit"></router-link>
                            </div>
                            <div class="peer" v-if="$can('delete', 'Students')">
                                <button type="button" class="btn cur-p btn-danger fa fa-trash-o" @click="toggleModal(props.row)"></button>
                            </div>
                        </div>
                    </div>
                </v-server-table>
            </div>
        </div>
        <transition name="fade">
            <modal v-if="modal.showModal" :key="'modal'"
                   :content="modal.content"
                   @agree="deleteUser(modal.userId)"
                   @decline="toggleModal"></modal>
        </transition>
    </div>
</template>

<script>
    import axios from 'axios';
    import Modal from '../../static/Modal';

    export default {
        name: "Students",
        data:() => ({
            columns: ['id', 'email', 'name', 'surname', 'created_at', 'controls'],
            options: {
                headings: {
                    id: '#Номер',
                    email: 'Email',
                    name: 'Ім\'я',
                    surname: 'Прізвище',
                    created_at: 'Зареєстровано',
                    controls: 'Управління'
                },
                filterable: false,
                perPageValues: [],
                perPage: 25,
                requestFunction: function (data) {
                    return axios.get(this.url, {
                        params: {
                            role: 'Student'
                        }
                    });
                },
                responseAdapter: (resp) => {
                    return {
                        data: resp.data.data.data,
                        count: resp.data.data.total
                    }
                }
            },
            modal: {
                showModal: false,
                userId: null,
                content: {
                    title: 'Видалення студента',
                    buttons: ['Так', 'Відміна'],
                    content: ''
                },
            },
        }),
        methods: {
            toggleModal: function (row) {
                this.modal.content.content = row ? `Ви впевнені, що хочете видалити ${row.name} ${row.surname}?` : '';
                this.modal.userId = row ? row.id : null;
                this.modal.showModal = !this.modal.showModal;
            },
            deleteUser(id) {
                axios.delete(`/api/users/${id}`)
                    .then(() => {
                        this.toggleModal();
                        this.$refs.studentsTable.refresh();
                    })
                    .catch()
            }
        },
        components: {
            Modal
        }
    }
</script>

<style scoped>

</style>