<template>
    <div class="masonry-item col-md-8 offset-2">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900" v-if="!isCreating">Редагувати {{ `${name} ${surname}` }}</h4>
            <h4 class="c-grey-900" v-else>Створити</h4>
            <transition name="fade">
                <div class="alert alert-danger" role="alert" v-if="errors.length">
                    <span v-for="(error, index) in errors" :key="index">{{ error }}<br></span>
                </div>
            </transition>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label>Ім'я</label>
                        <input type="text" class="form-control" placeholder="Введіть ім'я:" v-model="name">
                    </div>
                    <div class="form-group">
                        <label>Прізвище</label>
                        <input type="text" class="form-control" placeholder="Введіть прізвище:" v-model="surname">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Введіть email:" v-model="email" :disabled="!isCreating">
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "UserEdit",
        data:() => ({
            name: '',
            email: '',
            surname: '',
            errors: []
        }),
        computed: {
            isCreating() {
                return !this.$route.params.id;
            }
        },
        props: {
            role: {
                required: true,
                type: String
            }
        },
        methods: {
            submitForm() {
                this.isCreating ? this.createUser() : this.updateUser()
            },
            createUser() {
                axios.post('/api/user', {
                    name: this.name,
                    surname: this.surname,
                    email: this.email,
                    role: this.role
                })
                    .then(response => {
                        this.$router.push('/');
                    })
                    .catch(error => {
                        if (error.response.data.errors.email) {
                            this.errors = [];
                            this.errors.push('Цей email вже зайнято');
                        }
                    })
            },
            updateUser() {
                axios.put(`/api/users/${this.$route.params.id}`, {
                    name: this.name,
                    surname: this.surname,
                })
                    .then(response => {
                        this.$router.push('/');
                    })
                    .catch(error => {

                    })
            },
            getUser() {
                axios.get(`/api/users/${this.$route.params.id}`)
                    .then(response => {
                        if (!response.data.user) {
                            this.$router.push('/not-permitted');
                        }
                        this.name = response.data.user.name;
                        this.surname = response.data.user.surname;
                        this.email = response.data.user.email;
                    })
                    .catch()
            }
        },
        mounted() {
            if (!this.isCreating) {
                this.getUser();
            }
        }
    }
</script>

<style scoped>

</style>