<template>
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd text-center">
            <h2>Вітаємо на EDU,</h2>
            <h1>{{ user.name }} {{ user.surname }}</h1>
            <router-link to="/profile" class="btn btn-primary mT-30">До особистого кабінету</router-link>
        </div>
    </div>
</template>

<script>
    import store from '../../../storage/storage';

    export default {
        store,
        name: "Dashboard",
        computed: {
            user() {
                return this.$store.state.auth.user;
            }
        }
    }
</script>

<style scoped>

</style>