<template>
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <h3 class="c-grey-900">Оцінки</h3>
            <div class="mT-30">
                <v-server-table url="/api/marks" ref="marksTable" :columns="columns" :options="options">
                    <div slot="subject" slot-scope="props">
                        {{ props.row.test.plan.subject.name }}
                    </div>
                    <div slot="test" slot-scope="props">
                        {{ props.row.test.title }}
                    </div>
                    <div slot="mark" slot-scope="props">
                        {{ props.row.mark }} / 5 балів
                    </div>
                    <div slot="user" slot-scope="props">
                        {{ props.row.student.name }}
                    </div>
                </v-server-table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import store from '../../../storage/storage'

    export default {
        store,
        name: "Marks",
        data:() => ({
            options: {
                headings: {
                    id: '#Номер',
                    subject: 'Предмет',
                    user: 'Студент',
                    test: 'Тест',
                    mark: 'Оцінка'
                },
                filterable: false,
                perPageValues: [],
                perPage: 25,
                requestFunction: function (data) {
                    return axios.get(this.url);
                },
                responseAdapter: (resp) => {
                    return {
                        data: resp.data.data.data,
                        count: resp.data.data.total
                    }
                }
            },
        }),
        computed: {
            columns() {
                return this.$store.state.auth.user.role === 'Teacher' ? ['id', 'user', 'subject', 'test', 'mark'] : ['id', 'subject', 'test', 'mark']
            }
        }
    }
</script>

<style scoped>

</style>