<template>
    <div class="masonry-item col-md-8 offset-2">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900">Школа</h4>
            <transition name="fade">
                <div class="alert alert-danger" role="alert" v-if="errors.length">
                    <span v-for="(error, index) in errors" :key="index">{{ error }}<br></span>
                </div>
            </transition>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label>Назва</label>
                        <input type="text" class="form-control" placeholder="Введіть назву:" v-model="name">
                    </div>
                    <div class="form-group">
                        <label>Місто</label>
                        <input type="text" class="form-control" placeholder="Введіть місто:" v-model="city">
                    </div>
                    <div class="form-group">
                        <label>Телефон</label>
                        <input type="text" class="form-control" placeholder="Введіть телефон:" v-model="phone">
                    </div>
                    <div class="form-group">
                        <label>Адреса</label>
                        <input type="text" class="form-control" placeholder="Введіть адресу:" v-model="address">
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "School",
        data: () => ({
            name: '',
            city: '',
            phone: '',
            address: '',
            errors: []
        }),
        methods: {
            getSchool() {
                axios.get('/api/school')
                    .then(response => {
                        this.name = response.data.school.name;
                        this.city = response.data.school.city;
                        this.phone = response.data.school.phone;
                        this.address = response.data.school.address;
                    })
                    .catch()
            },
            submitForm() {
                axios.put('/api/school', {
                    name: this.name,
                    city: this.city,
                    phone: this.phone,
                    address: this.address,
                })
                    .then(() => {
                        this.$router.push('/');
                    })
                    .catch()
            }
        },
        mounted() {
            this.getSchool();
        }
    }
</script>

<style scoped>

</style>