<template>
    <div class="masonry-item col-md-8 offset-2">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900">Мій профіль</h4>
            <transition name="fade">
                <div class="alert alert-danger" role="alert" v-if="errors.length">
                    <span v-for="(error, index) in errors" :key="index">{{ error }}<br></span>
                </div>
            </transition>
            <div class="mT-30">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="avatar">
                            <img :src="avatarPath" alt="avatar">
                            <div class="cover"><i class="fa fa-pencil-square-o"></i></div>
                            <input type="file" name="avatar" accept="image/*" @change="fileChange($event.target.name, $event.target.files)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ім'я</label>
                        <input type="text" class="form-control" placeholder="Введіть ім'я:" v-model="name">
                    </div>
                    <div class="form-group">
                        <label>Прізвище</label>
                        <input type="text" class="form-control" placeholder="Введіть прізвище:" v-model="surname">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Введіть email:" v-model="email" disabled>
                    </div>
                    <div class="form-group">
                        <label>Старий пароль</label>
                        <input type="password" class="form-control" placeholder="Введіть старий пароль:" v-model="password">
                    </div>
                    <div class="form-group">
                        <label>Новий пароль</label>
                        <input type="password" class="form-control" placeholder="Введіть новий пароль:" v-model="password_new">
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import store from '../../../storage/storage';

    export default {
        store,
        name: "Profile",
        data:() => ({
            id: '',
            name: '',
            surname: '',
            email: '',
            password: '',
            password_new: '',
            avatarPath: '/images/admin/user.png',
            errors: []
        }),
        methods: {
            getUser() {
                axios.get('/api/users/me')
                    .then(response => {
                        this.setUser(response);
                    })
                    .catch()
            },
            setUser(response) {
                this.id = response.data.user.id;
                this.name = response.data.user.name;
                this.surname = response.data.user.surname;
                this.email = response.data.user.email;
                this.avatarPath = response.data.user.avatar || '/images/admin/user.png';
            },
            fileChange(fieldName, fileList) {
                let fd = new FormData();
                if (!fileList.length) return;
                fd.append('avatar', fileList[0]);

                axios.post(`/api/users/${this.id}/avatar`, fd, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.avatarPath = response.data.url;
                    axios.get('/api/users/me')
                        .then(responseMe => {
                            this.$store.dispatch('updateUser', responseMe.data.user).then();
                        })
                });
            },
            submitForm() {
                this.formValidation();
                if (this.errors.length < 1) {
                    axios.put(`/api/users/me`, {
                        name: this.name,
                        surname: this.surname,
                        password: this.password,
                        password_new: this.password_new
                    })
                        .then(response => {
                            this.$store.dispatch('updateUser', response.data.user).then(() => {
                                this.$router.push('/');
                            });
                        })
                        .catch(error => {
                            if (error.response.status === 422) {
                                this.errors = [];
                                this.errors.push('Старий пароль введено невірно.');
                            }
                        })
                }
            },
            formValidation() {
                this.errors = [];
                if (this.password && this.password_new) {
                    if (this.password.length < 6 || this.password_new.length < 6) {
                        this.errors.push('Довжина паролю має бути 6 або більше символів.');
                    }
                }
                if (!this.name || !this.surname) {
                    this.errors.push('Поля ім\'я та прізвище не можуть бути порожніми.');
                }
            }
        },
        mounted() {
            this.getUser();
        }
    }
</script>

<style scoped>
    .avatar {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        margin: auto;
        position: relative;
    }
    .avatar:hover >.cover{
        opacity: 1;
    }
    .cover {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        font-size: 25px;
        line-height: 150px;
        opacity: 0;
        transition: all .3s;
        cursor: pointer;
    }
    .avatar input {
        opacity: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        top: 0;
        z-index: 100;
    }
    .avatar img {
        width: 100%;
    }
</style>